.agendaElement {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  & .left {
    color: $main-color;
    font-weight: 800;
    & > h2 {
      font-size: 8rem;
    }
    & > p {
      text-transform: uppercase;
      width: 13rem;
    }
  }
  & .middle {
    padding-top: 1rem;
    color: $main-color;
    width: 45rem;
    & > h2 {
      font-weight: 800;
    }
    & > p {
      display: flex;
      align-items: center;
      & > span {
        margin-right: 1rem;
        font-weight: 500;
      }
    }
  }
  & .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 1rem;
    text-align: right;
    font-weight: 800;
    color: $main-color;
  }
}
