div.banniereSection {
  padding: 2rem $overall-padding;
  & .wrapper {
    background-color: $main-color;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: $third-color;
    border-radius: 2rem;
  }
}
