.carousel {
  position: relative;
  width: 100%;
  height: 50vh;
  & .slider {
    overflow: hidden;
    border: 7px solid $main-color;
    border-radius: 1.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    & img {
      flex-shrink: 0;
      flex-grow: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: translate 400ms cubic-bezier(0.85, 0, 0.15, 1);
      aspect-ratio: 1/1;
    }
  }
  & .commandes {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    padding: 1rem;
    right: 10%;
    width: 120px;
    height: 30px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    & span {
      cursor: pointer;
      font-size: 3rem;
      color: $third-color;
      &:hover {
        animation: squish 200ms ease-in-out;
      }
    }
  }
  & .neck {
    position: absolute;
    height: 60px;
    width: 250px;
    background-color: $main-color;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
