$main-color: #008758;
$secondary-color: #1e1e1e;
$third-color: #ecedef;
$fourth-color: #fcbe12;
$fifth-color: #1a9dd9;
$white-color: #fff;
$black-color: #000;

/* fonts */

$logo-font-size: 2.5rem;
$overall-padding: 10rem;
$main-height: calc(100vh - 14rem);
$thin-weight: 100;
$extraLight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semiBold-weight: 600;
$bold-weight: 700;
$extraBold-weight: 800;
$black-weight: 900;
