*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: initial;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
