.logo {
  font-size: $logo-font-size;
  font-weight: 900;
  color: $main-color;
}

.btn {
  font-weight: 700;
  font-size: 1.7rem;
  color: $third-color;
  background-color: $main-color;
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  & a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .iconSize {
    transition: all 0.3s ease;
  }
  &:hover {
    background-color: $third-color;
    color: $main-color;
  }
  &:hover .iconSize {
    animation: iconTranslate 0.3s ease forwards;
  }
  &:hover .iconSize svg path {
    fill: $main-color;
    transition: all 0.3s ease;
  }
  &:not(:hover) .iconSize {
    animation: iconTranslateB 0.3s ease forwards;
  }
}

.mainBtn {
  width: 35rem;
}

.iconSize {
  display: inline-block;
  width: 17px;
  height: 17px;
  & img {
    width: 100%;
  }
}

.sectionTitle {
  font-size: 4rem;
  font-weight: 800;
  color: $main-color;
  margin-bottom: 2.5rem;
}

.actuTitle {
  font-size: 2rem;
  color: $main-color;
}

.separator {
  width: 100%;
  height: 7px;
  background-color: $main-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $main-color;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 2px;
}

* {
  scrollbar-width: auto;
}

*::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.verticalSeparator {
  height: 30rem;
  width: 5px;
  background-color: $main-color;
}

.navIcon {
  width: 56px;
  height: 56px;
  display: inline-block;
}

.navSection {
  padding: 0 $overall-padding;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: end;
  & .buttons {
    display: flex;
    gap: 3rem;
    & .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  & .navigationBtns {
    & .navIcon {
      cursor: pointer;
      margin-left: 2rem;
      &:first-child svg {
        transform: rotateY(180deg);
      }
    }
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $third-color;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $third-color;
  transform-origin: right;
}

.Toastify__toast-body {
  font-size: 1.5rem;
  font-weight: bold;
}
